.section {
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
}

.section__container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

@media (max-width: 767px) {
  .section__container {
    grid-template-columns: 1fr;
  }

  .section__buttonsContainer {
    display: grid;
    grid-gap: 20px;
  }
}

.section__header {
  font-size: 20px;
  margin: 0;
}

.section__header--padding {
  padding: 20px;
}

.section__button {
  background-color: white;
  color: teal;
  border-style: none;
}

.section__body {
  padding: 20px;
}

.section__button:disabled {
  color: #ddd;
}
