html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: #eeedef;
  justify-content: center;
  align-items: flex-start;
}

ul {
  list-style: none;
}
