html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: #eee;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-top: 20px;
  flex-basis: 80%;
}
