.taskList {
  background-color: #fff;
}

.taskList__header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.taskList__listElement {
  justify-content: space-center;
  list-style: none;
  padding: 10px;
}

.taskList__button {
  background-color: red;
  color: white;
  border: none;
  /* outline: none; */
}
.taskList__button--color {
  background-color: green;
  color: green;
}

.js-colorWhite {
  color: white;
}

.taskList__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.taskList__text {
  flex-grow: 1;
  padding: 0 10px;
}
